@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
:root{
  --main-font:'Comfortaa', sans-serif;
  --main-color:#121f48;
  --contents-font:'Jua', sans-serif;
  --btn-box-shadow: rgb(38, 57, 77) 0px 10px 20px -10px;
}
*{
  font-family: var(--main-font);
}
/* 로그인 화면 ---------------------------------------------------------------- */
.login-area, .signup-area{
  background-image: url('/public/images/login.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.login-wrapper{
  width: 380px;
  height: 550px;
  flex-direction: column;
  border: 1px solid gray;
  background-color: white;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.login-logo, .signup-logo{
  padding-bottom: 50px;
}

.login-input, .signup-input{
  width: 250px;
  border: none;
  background-color: #f1f0f0;
  padding: 10px 15px;
  font-size: 15px;
  border-radius: 5px;
  margin-bottom: 15px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  transition: 0.5s;
}

.login-input:focus, .signup-input:focus{
  outline: none;
  box-shadow: none;
  transform: translateY(2px);
  transition: 0.5s;
}

#login-form, #signup-form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.login-wrapper h2, .signup-wrapper h2{
  align-self: start;
  color: var(--main-color);
  margin-bottom: 30px;
}

.login-wrapper h5, .signup-wrapper h5{
  margin: 0;
  margin-bottom: 5px;
  align-self: start;
}

.login-submit, .signup-submit{
  width: 250px;
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  margin-top: 15px;
  box-shadow: var(--btn-box-shadow);
  transition: 0.5s;
  background-color: var(--main-color);
  color: white;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
}

.login-submit:hover, .signup-submit:hover{
  box-shadow: none;
  transform: translateY(2px);
  transition: 0.5s;
}

.go-to-sign-up{
  font-size: 13px;
  margin-top: 30px;
}

.go-to-sign-up a{
  text-decoration: none;
  color: #1d9bf0;
  font-weight: bold;
  margin-left: 3px;
}

.go-to-sign-up a:hover{
  text-decoration: underline;
  opacity: 0.8;
}

/* ===================================================================================================== */

/* 회원가입 화면---------------------------------------------------------------------------------------------- */
.signup-wrapper{
  width: 400px;
  height: 800px;
  flex-direction: column;
  border: 1px solid gray;
  background-color: white;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.double-check-div{
  width: 250px;
  height: 42.5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  background-color: #f1f0f0;
  margin: 0;  
  font-size: 15px;
  border-radius: 5px;
  margin-bottom: 15px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  transition: 0.5s;
  padding-left: 15px;
}
.signup-input-double{
  border: none;
  background-color: transparent;
  outline: none;
}

.signup-email-confirm, .signup-nickname-confirm{
  align-self: flex-end;
  justify-content: center;
  padding: 0;
  color: white;
  font-size: 30px;
  border: none;
  cursor: pointer;
  transition: 0.5s;
  height: 40px;
  margin-right: 7px;
}

.signup-email-confirm:hover, .signup-nickname-confirm:hover{
  color: var(--main-color);
  /* transform: translateY(2px); */
  transition: 0.5s;
}

/* ----------------------------------------------------------------------------------------------- */
/* 네비게이션 바----------------------------------------------------------------------------------------- */
.navbar-area{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px 0;
}

.navbar-search-logout{
  display: flex;
  align-items: center;
}

.navbar-search-bar{
  background-color: #f1f0f0;
  border-radius: 50px;
  margin-right: 20px;
}

.navbar-search-bar input{
  background-color: transparent;
  border: none;
  padding: 5px 15px;
  outline: none;
}

.navbar-search-bar span{
  background-color: transparent;
  border: none;
  padding: 5px 15px;
}

.navbar-login-btn{
  background-color: var(--main-color);
  color: white;
  border: none;
  padding: 5px 15px;
  border-radius: 5px;
  box-shadow: var(--btn-box-shadow);
  transition: 0.5s;
}

.navbar-login-btn span{
  margin-left: 5px;

}

.navbar-login-btn:hover{
  box-shadow: none;
  transform: translateY(2px);
  transition: 0.5s;
}

/* ----------------------------------------------------------------------------------------------- */
/* 게시판 목록---------------------------------------------------------------------------------------- */
.board-area{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;
  }
.board-welcome-contents{
  font-family: var(--contents-font);
  font-size: 20px;
}

.board-welcome-contents span{
  font-family: var(--contents-font);
  color: #ec1946;
}

.board-contents ul{
  display: flex;
  list-style: none;
  padding: 0;
  background-color: rgb(233, 232, 232);
  font-weight: bold;
  border:2px solid #202124 ;
  border-left: none;
  border-right: none;
  margin: 0;
  width: 100%;
}

.board-contents ul li{
  font-family: var(--contents-font);
  font-size: 20px;
  padding: 10px 15px;
  color: #202124;
  text-align: center;
}

.board-write-btn-area{
  display: flex;
  justify-content: end;
}

.board-write-btn{
  padding: 7px 12px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  font-family: var(--contents-font);
  box-shadow: var(--btn-box-shadow);
  background-color: var(--main-color);
  color: white;
  transition: 0.5s;
  margin-bottom: 10px;
}

.board-write-btn:hover{
  box-shadow: none;
  transform: translateY(2px);
  transition: 0.5s;
}

.board-write-welcome{
  display: flex;
  align-items: center;
  justify-content: space-between
}

/* ----------------------------------------------------------------------------------------- */
/* 게시판 각 아이템 ------------------------------------------------------------------------- */
.board-item-area{
  display: flex;
  font-size: 20px;
  padding: 10px 0;
  border-bottom: 1px solid black;
  cursor: pointer;
  transition: 0.3s;
}

.board-item-area:hover{
  background-color: #f1f0f0;
  transition: 0.3s;
}

.board-item-area div{
  padding: 10px 15px;
  font-family: var(--contents-font);
}

.board-items{
  padding: 0;
  text-align: center;
}

/* -------------------------------------------------------------------------- */
/* 모달 창 ------------------------------------------------------------------- */
.write-modal-btn{
  margin-bottom: 10px;
  background-color: var(--main-color);
  color: white;
  padding: 10px 15px;
  box-shadow: var(--btn-box-shadow);
  transition: 0.5s;
  font-family: var(--contents-font);
  font-size: 17px;
  border-radius: 5px;
  border: none;
}

.write-modal-btn:hover{
  box-shadow: none;
  transform: translateY(2px);
  transition: 0.5s;
}

.modal-font{
  font-family: var(--contents-font);
}
