/* 로그인 화면 ---------------------------------------------------------------- */
.login-area{
  background-image: url('/public/images/login.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.login-wrapper{
  width: 600px;
  height: 250px;
  flex-direction: column;
  border: 1px solid gray;
  background-color: white;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.login-logo{
  padding: 10px;
}

.login-input{
  border: none;
  background-color: #f8f8f8;
  padding: 10px 15px;
  font-size: 15px;
}

#login-form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}